<html>
    <head>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body class="error bg">
        <h1>Error.</h1>
        <h3>Either user name, password or user is not correct!</h3>
        <a class="links" href="showLoginPage">Back</a>

    </body>
</html>