<html>
<body>
        <form action="/updatePage" method="GET">
            <table>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone No</th>
                        <th>@Email</th>
                        <th>Gender</th>
                        <th>Allergic</th>
                    </tr>
                    <tr>
                        <td><input type="text" placeholder="First Name" id="firstName"/></td>
                        <td><input type="text" placeholder="Last Name" id="lastName"/></td>
                        <td><input type="text" placeholder="Phone no" id="phNo"/></td>
                        <td><input type="text" placeholder="Email" id="email"/></td>
                        <td><input type="text" placeholder="Gender" id="gender"/></td>
                        <td><input type="text" placeholder="Allergic" id="alergic"/></td>
                    </tr>
                    
            </table>
            <input type="submit" id="submitButton" value="Submit"/>
        </form>
</body>
</html>